<footer id="alg-page-footer">
  <div class="container">
    <div class="col-md-4">
      <h2>Sobre nós</h2>

      <p>Sabe aquelas ideias que resolvem um problema do jeito mais fácil e trazem um resultado de maior qualidade? Isso é o que buscamos na Algorich, essa é a cara da empresa. Simples e criativo, sem enrolação.</p>

      <hr>

      <p>&copy; 2014 Algorich Desenvolvimento de Software.</p>
    </div>

    <div class="col-md-4">
      <h2>Onde nos encontrar</h2>

      <address>
        Rua Dr. Herculano Aquino, 119 - Jardim Flamboyant I<br>
        Campos dos Goytacazes - RJ - Brasil - 28015-200<br><br>
        <strong>Telefone</strong>: <a href="tel:2227240503">(22) 2724-0503</a><br>
        <strong>Email</strong>: <a href="mailto:contato@algorich.com.br">contato@algorich.com.br</a>
      </address>
    </div>

    <div class="col-md-4">
      <h2>Siga a Algorich</h2>

      <ul class="alg-social-links row">
        <li class="col-sm-4 alg-facebook">
          <a href="https://www.facebook.com/algorich" target="_blank" class="btn btn-default btn-block"><i class="fa fa-facebook"></i> Facebook</a>
        </li>
        <li class="col-sm-4 alg-twitter">
          <a href="https://twitter.com/algorich" class="btn btn-default btn-block" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
        </li>
        <li class="col-sm-4 alg-github">
          <a href="https://github.com/algorich" class="btn btn-default btn-block" target="_blank"><i class="fa fa-github"></i> Github</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
