<!-- HEADER BEGIN -->
<header id="alg-page-header" class="clearfix">
  <div class="container">

    <h1 class="alg-brand col-md-3 col-xs-8">
      <a href="index.html">
        <img src="images/logo.png" alt="Algorich">
      </a>
    </h1>

    <div class="col-xs-4 hidden-sm hidden-md hidden-lg">
      <a href="#" id="alg-main-navigation-btn"><i class="fa fa-bars"></i></a>

      <!-- MOBILE NAVIGATION BEGIN -->
      <select id="alg-mobile-navigation" class="form-control">
        <option value="index.html">Principal</option>
        <option value="quem-somos.html">Quem somos</option>
        <optgroup label="Serviços">
          <option value="algorich-dev.html">Algorich Dev</option>
          <option value="algorich-start.html">Algorich Start</option>
          <option value="algorich-pages.html">Algorich Pages</option>
        </optgroup>
        <option value="http://blog.algorich.com.br/">Blog</option>
        <option value="trabalhe-conosco.html">Trabalhe Conosco</option>
        <option value="contato.html">Contato</option>
      </select>
      <!-- MOBILE NAVIGATION END -->
    </div>

    <!-- MAIN NAVIGATION BEGIN -->
    <nav id="alg-main-navigation" class="col-md-9 hidden-xs">
      <ul class="clearfix">
        <li class="{% if page.id == 'principal' %}active{% endif %}">
          <a href="index.html">Principal</a>
        </li>

        <li class="{% if page.id == 'quem-somos' %}active{% endif %}">
          <a href="quem-somos.html">Quem somos</a>
        </li>
        <li class="dropdown {% if page.id == 'algorich-dev' or page.id == 'algorich-start' or page.id == 'algorich-pages' %}active{% endif %}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços</a>

          <ul class="dropdown-menu" role="menu">
            <li class="{% if page.id == 'algorich-dev' %}active{% endif %}">
              <a href="algorich-dev.html">Algorich Dev</a>
            </li>

            <li class="{% if page.id == 'algorich-start' %}active{% endif %}">
              <a href="algorich-start.html">Algorich Start</a>
            </li>

            <li class="{% if page.id == 'algorich-pages' %}active{% endif %}">
              <a href="algorich-pages.html">Algorich Pages</a>
            </li>
          </ul>
        </li>
        <li><a href="http://blog.algorich.com.br/" target="_blank">Blog</a></li>
        <li class="{% if page.id == 'trabalhe-conosco' %}active{% endif %}">
          <a href="trabalhe-conosco.html">Trabalhe conosco</a>
        </li>
        <li class="{% if page.id == 'contato' %}active{% endif %}">
          <a href="contato.html">Contato</a>
        </li>
      </ul>
    </nav>
    <!-- MAIN NAVIGATION END -->

  </div>
</header>
<!-- HEADER END -->

<script>
    $(function () {
        $('#alg-mobile-navigation').change(function () {
            window.location = $(this).find('option:selected').val();
        });
    });
</script>